@charset "ISO-8859-1";
body {
	height: 100%;
	background-color: black;
}
#char {
position: fixed;
left: 50%;
top: 85%;
background-image: url("char.png");
background-size: contain;
height: 11%;
width: 5%;	
}
.shot {
	top: 80%;
	position: fixed;
	height: 70px;
	width: 20px;
}
.enemies {
	height: 50px;
	width: 50px;
	padding: 20px;
}